/* Reset בסיסי */
/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

html, body {
  width: 100%;
  height: 100%;
}

/* הרקע */
.cloud-page {
 position: absolute;
  top:0vh;
  right:0vh;
  width: 100vw;
  height: 100vh;
  direction: rtl;
  background: linear-gradient(108.99deg, #FFFFFF 2.2%, #FFCCD5 94.02%);
  overflow: hidden;
}



.cloud-page-item {
  position: relative;
  text-align: center;
    direction: rtl;

  min-height: 100vh; /* פריט לפחות גובה מסך */
  margin-bottom: 0;  /* או מרווח קטן יותר אם רוצים */
}


/* קונטיינר שמחזיק את התמונה + טקסט */
.cloud-img-wrapper {
  position: relative;
  width: 80vw;
  max-width: 70vw;
  margin: 0 auto;
  display: flex;           /* סדרה של תמונה + imageInfo */
  align-items: center;     /* יישור אנכי */
  justify-content: center; /* מרכז אופקי */
  gap: 20px;               /* רווח בין התמונות */
}

.cloud-page-img-info {
width: 10vw;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    position: relative;
    left: 67vw;
    top: 5vh;
}




/* קונטיינר לטקסט שיושב על התמונה */
.cloud-page .cloud-text {
  position: absolute;
  top: 50%;               
  left: 50%;
  transform: translate(-50%, -50%);  
  width: 60%;
  z-index: 10;
  text-align: center;
  direction: rtl;
}

/* Subtitle */
.cloud-page h3 {
  font-size: 5vmin;
  color: #555;
  margin-bottom: 2vh;
  color: #55C6FF;
    direction: rtl;

}

/* Text */
.cloud-page p {
  font-size: 2.5vmin;
    direction: rtl;

  line-height: 1.5;
}

/* הכותרת הראשית מעל התמונה */
.cloud-page h1 {
  color: #800F2F;
  font-size: 5vmin;
  margin-top: 5vh;
  position: relative;
  left: 3vw;
  font-family: 'Rubik Spray Paint';
  font-weight: 500;
}
.next-button-cloud{
  position: absolute;
  top:80vh;
  left:10vw;
  border: none;
  background-color: transparent;
cursor: pointer;
}
.next-button-cloud:hover{
 transform: scale(1.1);
}
.cloud-page-img{
  width: 100%; display: block;

}