.CloudButtonsPage {
 position: absolute;
  top:0vh;
  right:0vh;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(108.99deg, #FFFFFF 2.2%, #FFCCD5 94.02%);
  overflow: hidden;
}

.buttons-container {
 display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20vh;
    margin-left: 2%;
}

.cloud-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
  max-width: 300px; /* מגביל רוחב הכפתור */
  margin: 0 auto;
}

.cloud-button:hover {
  transform: scale(1.05);
}

/* קונטיינר יחסי כדי שהטקסט יושב מעל התמונה */
.cloud-image-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

/* התמונה */
.CloudButtonsPage .cloud-image {
  width: 120%;
  height: auto;
  display: block;
}

/* הטקסט במרכז התמונה */
.CloudButtonsPage .cloud-text {
  position: absolute;
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-family: "Rubik";
  color: #333;
  font-size: 2vmin;
  width: 30vw;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 0px 10px white;
  pointer-events: none;

}


.CloudButtonsPage .checkmark {
  color: pink;
  position: absolute;
  margin-top: 5vh;
  font-size: 4vmin;
  top: -450%;
  left: -0%;
}
.next-button-cloudPage{
  border: none;
  background-color: transparent;
}
.next-button-cloudPage:hover{
 transform: scale(1.1);
}
