/* Reset בסיסי */
html, body {
  width: 100%;
  height: 100%;
}

/* הרקע */
.cloud-page {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  direction: rtl;
  background: linear-gradient(108.99deg, #FFFFFF 2.2%, #FFCCD5 94.02%);
  overflow: hidden;
}

.cloud-page-item {
  position: relative;
  text-align: center;
  direction: rtl;
  min-height: 100vh; /* פריט לפחות גובה מסך */
  margin-bottom: 0;
}

/* קונטיינר שמחזיק את התמונה + טקסט */
.cloud-img-wrapper {
  position: relative;
  width: 80vw;
  max-width: 70vw;
  margin: 0 auto;
  display: flex;           /* סדרה של תמונה + imageInfo */
  align-items: center;     /* יישור אנכי */
  justify-content: center; /* מרכז אופקי */
  gap: 20px;               /* רווח בין התמונות */
}

.cloud-page-img-info {
  width: 10vw;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
  position: relative;
  left: 67vw;
  top: 5vh;
}

/* קונטיינר לטקסט שיושב על התמונה */
.cloud-page .cloud-text {
  position: absolute;
  top: 50%;               
  left: 50%;
  transform: translate(-50%, -50%);  
  width: 62%;
  z-index: 10;
  direction: rtl;
  font-family: 'Rubik', sans-serif;
  text-align: right;
}

/* Subtitle */
.cloud-page h3 {
  font-size: 5vmin;
  color: #55C6FF;
  margin-bottom: 2vh;
  direction: rtl;
  text-align: center;
}

/* Text ו־content דינמי */
.cloud-page p,
.cloud-page .cloud-text span,
.cloud-page .cloud-text a {
  font-size: 2.5vmin;
  line-height: 1.5;
  direction: rtl;
}

/* קישורים בתוך content */
.cloud-text a.link-buble {
  color: #800F2F;
  text-decoration: underline;
  margin: 0 0.2em;
}

/* הכותרת הראשית מעל התמונה */
.cloud-page h1 {
  color: #800F2F;
  font-size: 5vmin;
  margin-top: 5vh;
  position: relative;
  left: 3vw;
  font-family: 'Rubik Spray Paint';
  font-weight: 500;
}

/* כפתור המשך */
.next-button-cloud {
  position: absolute;
  top: 80vh;
  left: 10vw;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.next-button-cloud:hover {
  transform: scale(1.1);
}

/* תמונה ראשית */
.cloud-page-img {
  width: 100%;
  display: block;
}

.book-img {
  position: relative;
  left: -35%;
  top: 0%;
}

.AvitalThink-img {
  position: relative;
  left: -35%;
  top: 5%;
}
