.CloudButtonsPage {
  background-color: #FFE4E9;
  width: 100vw;
  min-height: 100vh;
}

.buttons-container {
 display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.cloud-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
  max-width: 300px; /* מגביל רוחב הכפתור */
  margin: 0 auto;
}

.cloud-button:hover {
  transform: scale(1.05);
}

/* קונטיינר יחסי כדי שהטקסט יושב מעל התמונה */
.cloud-image-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

/* התמונה */
.cloud-image {
  width: 100%;
  height: auto;
  display: block;
}

/* הטקסט במרכז התמונה */
.cloud-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Rubik";
  color: #333;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 0px 10px white;
  pointer-events: none;
}
