.Enternce-container{
  position: absolute;
  top:0vh;
  right:0vh;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(108.99deg, #FFFFFF 2.2%, #FFCCD5 94.02%);
}

.Enternce-title {
    color: #800F2F;
    font-size: 6vmin;
    margin-top: 3vh;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    font-family: 'Rubik Spray Paint';
    font-weight: 500;
}
.Avital-Entrence{
position: absolute;
    width: 36vw;
    height: auto;
    left: 2vw;
    top: 23vh;

}
.buttons-answer {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10vw;
    margin-top: 25vh;
    right: 29vw;
    width: 40vw;
}

.btn-answer {
  display: flex;
  flex-direction: column; /* טקסט מעל התמונה */
  align-items: center;
  padding: 20px 25px;
  border-radius: 20px; /* פינות מעוגלות */
  cursor: pointer;
} 
.btn-answer:hover {
  cursor: pointer;
  transform: scale(1.2);
} 

.btn-answer p{
    font-family: "Rubik";
    position: relative;
    margin-top: 6vh;
    font-weight: 900;
    font-size: 6vmin;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    z-index: 1000;
}
.btn-answer img{
font-family: "Rubik";
position: absolute;
margin-top:0vh;
font-weight: 900;
font-size: 48px;
line-height: 59px;
text-align: center;
color: #FFFFFF;
}
.greetings{
font-family: "Rubik";
    position: absolute;
    margin-top: 12vh;
    font-weight: 1000;
    font-size: 4vmin;
    right: 50%;
    transform: translateX(50%);
    text-align: right;
    color: #000000;
    z-index: 1000;
}