.FirstPage {
  position: absolute;
  top:0vh;
  right:0vh;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(108.99deg, #FFFFFF 2.2%, #FFCCD5 94.02%);
}

.FirstPage-title {
 color: #800F2F;
  font-size: 5vmin;
  margin-top: 5vh;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: 90vw;
  font-family: 'Rubik Spray Paint';
  font-weight: 500;
}
.Avital-sit{
    position: absolute;
    width: 36vw;
    height: auto;
    top: 28vh;
    left: 9vw;
}
.buble-text{
position: absolute;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 3.5vmin;
    line-height: 3vw;
    text-align: center;
    color: #000000;
    z-index: 100000;
    right: 14vw;
    width: 27vw;
    margin-top: 25vh;
}
.link-buble{
    color: #800F2F;

}
.speach-bubleimg{
     position: absolute;
    right: 3vw;
    margin-top: 12vh;
    width: 45vw;
    height: auto;
}

.speach-buble{
    position: absolute;
    right:10vw;
    width: 40vw;
    height: 20vh;
}
.score-input{

display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 9px;
    position: absolute;
    width: 378px;
    height: 6vh;
    right: 15vw;
    top: 66vh;
    font-size: 2.5vmin;   
     font-family: "Rubik";
    border: solid 3px #590d22;
    border-radius: 17px;
    text-align: right;
    padding-right: 2vw;
}

.FirstPage .next-button{
    background: none;
    border: none;
    position: absolute;
    margin-top: 80VH;
    right: 22VW;
}
.alert{
        position: absolute;

     right: 7vw;
    top: 72vh;    
    color: #800F2F;
width: 40vw;
        font-size: 2.5vmin;   

}

.FirstPage .next-button {
  background: none;
  border: none;
  position: absolute;
  margin-top: 80vh;
  right: 22vw;
  transition: opacity 0.3s ease;
}

/* מצב לא פעיל */
.FirstPage .next-button.disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

/* מצב פעיל */
.FirstPage .next-button.active {
  opacity: 1;
  cursor: pointer;
}
