.flip-card {
    width: 20vw;
    height: 62vh;
    perspective: 1000px;
    cursor: pointer;
}

.flip-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-inner.flipped {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  backface-visibility: hidden;
  padding: 20px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

.flip-front {
  background: #ffb4fb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
    font-family: 'Rubik';
  font-size: 3vmin;
}

.flip-front p {
  font-family:'Rubik';
  font-size:2vmin;
  margin-top: 10px;
  color: #555;
}

.flip-back {
  background: #f7b8ff;
  transform: rotateY(180deg);
  overflow-y: auto;
}

.flip-content {
 font-size: 2.5vmin;
    line-height: 1.4;
    color: #333;
    text-align: right;
    font-family: "Rubik";
}
