.header {
    position: fixed; 
    top: 0;
    width: 100vw;
    height: 11vh;
    z-index: 1000;
    background-size: cover;
    background-repeat: no-repeat;
 }


  .i-logo {
    height: 8vh;
    width: auto;
    position: fixed;
    top: 2vh;
    left: 5vw;
  }

  .menu-logo {
    height: 10vh;
    width: auto;
    position: fixed;
    top: 1vh;
    right: 5vw;
  }


.menu-back{
    position: absolute;
    right: 7vw;
    top: 3vh;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #590D22;
    cursor: pointer;


}