.header {
    position: fixed; 
    top: 0;
    width: 100vw;
    height: 11vh;
    z-index: 1000;
    background-size: cover;
    background-repeat: no-repeat;
 }


  .i-logo {
    height: 8vh;
    width: auto;
    position: fixed;
    top: 2vh;
    left: 5vw;
    cursor: pointer;
  }

  .menu-logo {
    height: 10vh;
    width: auto;
    position: fixed;
    top: 1vh;
    right: 5vw;
    cursor: pointer;
  }


.menu-back{
    position: absolute;
    right: 7vw;
    top: 3vh;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #590D22;
    cursor: pointer;


}

.infoBtn {
  position: relative;
}

/* הריבוע שמופיע */
.infoBtn::after {
  content: "כדאי להציץ";
  position: absolute;
  margin-top: 2%;     /* מעל הכפתור */
  left: 12%;
  transform: translateX(-50%);
  background: #ffffff;
  color: #000;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 0.9rem;
  white-space: nowrap;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

/* במעבר עכבר */
.infoBtn:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(-5px);
}
