/* Register.css */
.register-container {
 position: absolute;
  top:0vh;
  right:0vh;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(108.99deg, #FFFFFF 2.2%, #FFCCD5 94.02%);
}

.register-form {
      display: flex;
    flex-direction: column;
    width: 400px;
    padding: 40px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 26vh;
}
.Avital{
position: absolute;
    width: 42vw;
    height: auto;
    left: -6vw;
    top: 23vh;

}

.register-form h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 32px;
}

.register-form input {
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.register-form button {
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #FF6680;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.register-form button:hover {
  background-color: #ff4d66;
}
.Register-title {
  position: absolute;
  margin-top: 10vh;
  text-align: center;
  right: 50%;
  transform: translateX(50%);
  width: 90vw;
  font-size: 6vmin;
    font-family: 'Rubik Spray Paint';
  font-weight: 500;
   color: #800F2F;
}


